<div class="navbar">
  <ul><% if(!loggedIn) { %> 
    <li><a href="/register">Sign up</a></li>
    <li><a href="/login">Log in</a></li>
    <% } %>   
    <% if(loggedIn) { %>
      <li><a href="/auth/logout">Log out</a></li>
    <li><a href="/">Profile</a></li>
    <li><a href="/create">Deck</a></li>
    <% } %>
    <li><a href="/about">Contact us</a></li>
  </ul>   
</div> 


<style>
  .navbar{
  background-color: #111418;
  position: sticky;
  height: 90px;
  width: 100%;
  margin-bottom: 40px;
  color: aliceblue;
}

ul {
  list-style-type: none;
  background-color: inherit;
  height: 100%;
}

li {
  float: right;
}

li a {
  line-height: 90px;
  width: 120px;
  margin-bottom: 20px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li :hover {
    color:black;
    background-color: #ff9659a9;
  }
</style>